.advantage {
  margin-bottom: 32px;
  overflow-x: visible;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.advantage__img-wrap {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: @color-green;
}

.advantage__img {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.advantage__text {
  width: calc(100% - 80px);
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage {
    margin-bottom: 41px;
  }

  .advantage__heading {
    margin-bottom: 0;
  }

  .advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: myCounter;
  }

  .advantage__item {
    width: 45.8%;
    display: block;
    margin-top: 72px;
    margin-bottom: 61px;
    position: relative;

    &::after {
      counter-increment: myCounter;
      content: counter(myCounter);
      position: absolute;
      font-size: 281px;
      color: #f2f2f2;
      top: -39px;
      right: 79px;
      display: block;
      min-width: 128px;
      line-height: 1;
      font-family: @font;
      z-index: -1;
    }
  }

  .advantage__img-wrap {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }

  .advantage__text {
    font-size: 16px;
    line-height: 1.5;
    width: calc(100% - 70px);
  }
}

@media (min-width: @desktop-width) {
  .advantage__item {
    width: calc(25% - 60px);

    &::after {
      right: -2px;
    }
  }

  .advantage__text {
    width: auto;
  }
}
