.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  margin-left: 50%;
  padding: 0 19px;
  padding-bottom: 23px;
  transform: translateX(-50%);
  border: solid 1px #ededed;
}

.goods--more {
  text-align: center;

  & .goods__heading {
    width: 100%;
    margin-top: 26px;
    padding-right: 0;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      margin-bottom: 22px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.goods__heading {
  font-family: @font;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 40%;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-left: 2px;
  color: #111111;
}

.goods__img {
  width: 140px;
  vertical-align: bottom;
}

.goods__description {
  width: 145px;
  margin-right: -3px;
  margin-left: -2px;
}

.goods__table {
  width: 100%;
}

.goods__table-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods__table-heading,
.goods__table-descripion {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.35;
  padding: 0;
}

.goods__text {
  width: 100%;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: -1px;
}

@media (min-width: @tablet-width) {
  .goods {
    width: 324px;
    box-sizing: border-box;
    margin-left: 0;
    transform: none;
    border: none;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-left: 37px;
    padding-right: 38px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    min-height: 431px;

    .button {
      margin-left: 1px;
      margin-right: -1px;
      font-size: 16px;
      line-height: 1.25;
    }
  }

  .goods__img-wrap {
    margin-top: auto;
  }

  .goods__img {
    margin-top: -82px;
    width: calc(100% + 75px);
    max-width: none;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .goods__description {
    width: calc(100% + 4px);
    margin-left: -1px;
    margin-bottom: 26px;
  }

  .goods__heading {
    width: 143px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 22px;
    letter-spacing: 0;
    padding-left: 1px;
    line-height: 1;
    font-size: 20px;
    text-align: center;
  }

  .goods__table-row {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .goods__table-heading,
  .goods__table-descripion {
    font-size: 16px;
  }

  .goods--more {
    background: none;
    border: solid 1px #e6e6e6;
    justify-content: flex-start;
    padding-top: 28px;
    margin-bottom: 39px;

    .goods__heading {
      width: 150px;
      padding-left: 2px;
      margin-bottom: 25px;

      &::before {
        width: 60px;
        height: 60px;
        opacity: 0.2;
        margin-bottom: 49px;
      }
    }

    .button {
      margin-top: auto;
      width: calc(100% + 2px);
      margin-left: 0;
      margin-bottom: -1px;
    }
  }

  .goods__text {
    font-size: 16px;
    width: 200px;
    line-height: 1.2;
    max-width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .goods {
    width: 245px;
    margin-top: 101px;
  }

  .goods__text {
    width: auto;
  }
}
