.map__wrap-text {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 12px 19px;
  background-color: #fff;
}

.map__wrap-text--grey {
  background-color: #f2f2f2;
}

.map__heading {
  font-family: @font;
  font-size: 16px;
  font-weight: normal;
  width: 50%;
  text-transform: uppercase;
}

.map__text {
  line-height: 1.43;
  box-sizing: border-box;
  width: 50%;
  margin-top: 17px;
  padding-left: 1px;
}

.map__img {
  width: 100%;
  margin-top: -39px;
  vertical-align: bottom;
}
